body {
    background-color: #fafaf9;
}
h2 {
    margin-top: 20px;
    color: #1e1b2e;
    text-align: left;
    margin-left: 20px;
}

h4 {
    margin-top: 10px;
    color: #1e1b2e;
    text-align: left;
    margin-left: 20px;

}

p {
    color: #1e1b2e;
    text-align: left;
    margin-left: 20px;
    margin-top: 10px;
}
#header {
  
    height: 40px;
    border: 2px;
    background: linear-gradient(135deg, #6d28d9, #3b82f6);
}